<div>
  <hr />
  <li entry_id="{{cid}}">
    <a href="#!/entry/{{cid}}">
      {{#if favicon}}
      <img src="https://www.google.com/s2/favicons?domain={{hostname}}" />
      &nbsp;
      {{/if}}
      {{name-listitem}}
    </a>
  </li>
</div>
