<div class="container">
  <div id="alert" class="alert alert-info"></div>

  <h1>{{t 'link-source'}}</h1>

  <input type="file" id="input-file" style="height: 0; width: 0; overflow: hidden;" /></input>

  <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
    <button id="link-dropbox" class="btn btn-block btn-large btn-primary">{{t 'link-dropbox'}}</button>
    <button id="link-file" class="btn btn-block btn-large btn-inverse">{{t 'link-file'}}</button>
  </div>
</div>
